/* Error: Undefined mixin.
 *    ,
 * 42 | /       @include typed(
 * 43 | |         "How many roads must a man walk down before you call him a man?",
 * 44 | |         "How many seas must a white dove sail before she sleeps in the sand?",
 * 45 | |         "The answer, my friend, is blowin' in the wind",
 * 46 | |         1.5,
 * 47 | |         (
 * 48 | |           caret-width: 2px,
 * 49 | |           caret-space: 2px
 * 50 | |         )
 * 51 | |       );
 *    | '-------^
 *    '
 *   style.scss 42:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 42 \2502  \250c        @include typed(\a 43 \2502  \2502          \"How many roads must a man walk down before you call him a man?\",\a 44 \2502  \2502          \"How many seas must a white dove sail before she sleeps in the sand?\",\a 45 \2502  \2502          \"The answer, my friend, is blowin' in the wind\",\a 46 \2502  \2502          1.5,\a 47 \2502  \2502          (\a 48 \2502  \2502            caret-width: 2px,\a 49 \2502  \2502            caret-space: 2px\a 50 \2502  \2502          )\a 51 \2502  \2502        );\a    \2502  \2514 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^\a    \2575 \a   style.scss 42:7  root stylesheet";
}
